.open-lock-page {
  min-height: 100%;
  background-color: #f1ebd9;
}
.lock_number {
  padding-left: 40px;
  padding-top: 40px;
}
.btn-wrapper {
  margin-top: 15vw;
}

.btn-open-lock {
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
}

.btn-wait {
  background-color: #f0c144;
}

.btn-wait.button-hover {
  background-color: #caa339;
}

.btn-opening {
  background-color: #f0c144;
  animation: lock-openning 1s infinite ease-in-out;
}

.loading-image {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 60vw;
  width: 60vw;
}

.btn-open-success {
  background-color: #1aad19;
}

.btn-open-failed {
  background-color: #e64340;
  /* animation: lock-open-failed-btn 1s 1 ease-in-out ;
  animation-fill-mode: forwards; */
}

.btn-open-failed.button-hover {
  background-color: #bb3533;
}

.btn-open-lock .btn-text {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  position: relative;
  bottom: 15vw;
}

.btn-open-lock .btn-icon {
  font-size: 4em !important;
  line-height: 50vw;
  display: block;
}

.btn-wait .btn-icon {
  animation: lock-wait-open-icon 1s infinite ease-in-out;
}


.text-wrapper {
  padding: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: rgba(255, 255, 255, 0.6);
}

.text-wrapper.text-wait {
  position: absolute;
  bottom: 20vh;
  margin-left: 0vw;
  margin-right: 0vw;
  left: 10vw;
  right: 10vw;
}

.lock-message {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #f3673c;
  text-align: center;
}

.text-wrapper.text-opening .lock-message {
  font-size: 1.2em;
  color: red;
}

.text-wrapper.text-success {
  animation: lock-open-response-wrapper 1s infinite ease-in-out;
}

.text-wrapper.text-success .lock-message {
  font-size: 1.4em;
}

.text-wrapper.text-failed {
  animation: lock-open-response-wrapper 1s infinite ease-in-out;
  font-weight: bold;
}

.text-wrapper.text-failed .lock-message {
  font-size: 1.4em;
  color: #f3673c;
  text-indent: 0;
}

.info-wrapper {
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 5vw;
  font-size: 1.2em;
}

.close-info .lock-closing-time {
  color: #f3673c;
  font-weight: bold;
}

.btn-direct-map {
  position: absolute;
  bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.btn-direct-map {
  .enter_wx {
    background-color: rgba(243, 103, 60, 0.8);
    width: 80vw;
    color: white;
    font-size: 1.2em;
  }
}

@keyframes lock-openning {
  0% {
    background-color: #f0c144;
  }

  50% {
    background-color: #f3673c;
  }

  100% {
    background-color: #f0c144;
  }
}

@keyframes lock-wait-open-icon {
  0% {
    color: black;
    transform: scale(1);
  }

  50% {
    color: #f0c144;
    transform: scale(1.2);
  }

  100% {
    color: black;
    transform: scale(1);
  }
}

@keyframes lock-open-response-wrapper {
  0% {
    background-color: #f1ebd9;
  }

  50% {
    /* background-color: rgba(246,208,77,1); */
    background-color: white;
  }

  100% {
    background-color: #f1ebd9;
  }
}
